@import './mixins.scss';
@import './contact-us.scss';

.border-primary {
   position: relative;
}

.border-primary h2 {
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #f16821!important;
  text-align: center;
}

.column {
  flex-direction: column;
}
@media (min-width: 768px) {
  .site-section {
      padding: 2em 0;
  }
}